.head {
    cursor: pointer;
}

.head .logo img{
    width: 500px;

}

header{
    background-color: #000;
    color: #fff;
}

header li{
    margin-right: 30px;
    transition: 0.5s;
}

header li a{
    color: #fff;
    transition: 0.5s;
}

header li a:hover {
    color: crimson;
    cursor: pointer;
}

.barIcon{
    font-size: 25px;
    background: none;
    color: #fff;
    border: none;
    display: none;
}