.header {
  background: darkgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin-right: auto;
  position: relative;
}

h1 {
font-size: 75px;
font-style: bold;
color: white;
}

.body {
width: 100%;
padding: 16px;
border-radius: 8px;
align-items: center;
gap: 12px;
max-width: 736px;
margin: 0 auto;
margin-right: auto;
margin-left: auto;
padding: 0 1rem;
}